body{
  background-image: url("background2.jpg");
}

header{
  text-align: center;
}

img {
  height:300px;
  box-shadow: 10px 10px 20px black;
}
h1{
  font-size: 50px;
}

.email:hover{
  color: brown;
}
